<%- include("../partials/header" , { userADMIN: false, pageTittle: "Shop", css : "/css/styles-shop.css" }); -%>

<div class="shop-section container">
    <section class="filter">
      <div class="filters__opt">
        <label class="opt__label" for="findByItemOrCat">Buscar</label>
        <input
          class="find-input"
          type="text"
          name="findByItemOrCat"
          id="findByItemOrCat"
          placeholder="item o categoría"
        />
      </div>
      <div class="filters__opt">
        <label class="opt__label" for="orderBy">Ordenar Por</label>
        <select class="find-input" name="orderBy" id="orderBy">
          <option id="1" selected>Mayor a Menor</option>
          <option id="2">Menor a Mayor</option>
        </select>
      </div>
      <div class="filters__opt">
        <label class="opt__label" for="price">Precio</label>
        <div class="filters__opt--range medium">
          <label class="range-label" for="Min">Min</label>
          <input
            class="range-input opt__label"
            type="number"
            placeholder="0"
          />
          <span class="range-separator">-</span>
          <label class="range-label" for="Min">Max</label>
          <input
            class="range-input opt__label"
            type="number"
            placeholder="0"
          />
        </div>
      </div>
      <div class="filters__opt">
        <label class="opt__label" for="filterOpt">Filtrar</label>
        <div class="checkbox__opts">
          <div class="checkbox__opt">
            <input
              type="checkbox"
              id="filterOpt"
              name="filterOpt"
              value="1"
            />
            <label for="filterOpt">Nuevos</label>
          </div>
          <div class="checkbox__opt">
            <input
              type="checkbox"
              id="filterOpt"
              name="filterOpt"
              value="1"
            />
            <label for="filterOpt">Ofertas</label>
          </div>
          <div class="checkbox__opt">
            <input
              type="checkbox"
              id="filterOpt"
              name="filterOpt"
              value="1"
            />
            <label for="filterOpt">Edicion Especial</label>
          </div>
          <div class="checkbox__opt">
            <input
              type="checkbox"
              id="filterOpt"
              name="filterOpt"
              value="1"
            />
            <label for="filterOpt">Favoritos</label>
          </div>
        </div>
      </div>
    </section>

    <main class="items">
      <ul class="list-items">
        <!-- se usa ul/li en vez de div porque tiene sentido semantico: c/elemento forma parte del carrucel-->

        <% items.forEach(item => {  %>

        <li>
          <article class="card-item">
            <a class="card-item__link" href="shop/item/<%= item.product_id %>">
              <picture class="card-item__cover"
                ><span class="card-item_tag">Nuevo</span>
                <img
                  class="card-item__ima-front"
                  src="/images/<%= item.image_front %>"
                  alt=" Figura <%= item.product_name %>"
                />
                <img
                  class="card-item__ima-end"
                  src="/images/<%= item.image_back %>"
                  alt=" Figura <%= item.product_name %>"
                />
              </picture>
              <div class="card-item__content">
                <p class="card-item__license"><%= item.licence_name %></p>
                <h4 class="card-item__name"><%= item.product_name %></h4>
                <p class="card-item__price">$ <%= item.price %></p>
                <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS</p>
              </div>
            </a>
          </article>
        </li>
        
        <% });  %>

      </ul>
    

      <!-- PAGINADO -->
      <lu class="pages">
        <li class="pages__opt">
          <a href="#"
            ><iconify-icon icon="mdi:chevron-left"></iconify-icon
          ></a>
        </li>
        <li class="pages__opt"><a href="">1</a></li>
        <li class="pages__opt"><a href="">2</a></li>
        <li class="pages__opt"><a href="">...</a></li>
        <li class="pages__opt"><a href="">9</a></li>
        <li class="pages__opt"><a href="">10</a></li>
        <li class="pages__opt">
          <a href=""
            ><iconify-icon icon="mdi:chevron-right"></iconify-icon
          ></a>
        </li>
      </lu>
    </main>
</div>

<%- include("../partials/footer"); -%>